@import "tailwindcss";

:root{
  --primary: #f48c25;
  --text-shade: #45556c;
  --primary-shaded: #f7d3af;
  --outline-variant: #c6c6cd;
  --surface-bright: #f7f9fb;
  --secondary-container: #fd761a;
}


body {
  background-color: #f8f7f5;
}
